<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
</head>
<body style="text-align:center;">

    <h1>Face Recognition Attendance System</h1>

    <a href="/start">
        <button style="padding:10px 25px; font-size:18px; background:green; color:white;">
            Start
        </button>
    </a>

    <a href="/stop">
        <button style="padding:10px 25px; font-size:18px; background:red; color:white;">
            Stop
        </button>
    </a>

    <br><br>

    <img src="{{ url_for('video') }}" width="700">

</body>
</html>
